body {
    margin: 0;
    padding: 0;
    background: url(bg-saigon-night.jpg) no-repeat;
    background-size: cover;
}

.rain {
    background: url(rain.png);
    height: 100vh;
    animation: rain .2s linear infinite;
}

.rain:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: lighting 4s linear infinite;
    opacity: 0;
}

@keyframes rain {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 20% 100%;
    }
}

@keyframes lighting {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    11% {
        opacity: 1;
    }

    14% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    11% {
        opacity: 1;
    }

    24% {
        opacity: 0;
    }

    104% {
        opacity: 0;
    }
}